<% include ../partials/header.ejs %>


<div class="container">
	<div class="jumbotron">
		<form method="post" class="row">
			<div class="list-group col-md-4">
				<button type="submit" class="list-group-item" value="binary" name="questType">TWO-DEMENSIONAL WORLD (2BIT)</button>
				<button type="button" class="list-group-item" value="quantumn" name="questType">Quantumn Entanglement Universe</button>
			</div>
		</form>
	</div>	
</div>

<% include ../partials/footer.ejs %>