<% include ../partials/header.ejs %>

    <div class="container">
      <div class="jumbotron">
      <h1>User Authentication</h1>
      <p> This Express Web App uses Mongoose and Passport
      to perform user authentication</p>
      </div>
      
      <div class="well">
            We're working on it!'
            <a href="/survey/ask-how" class="btn btn-large btn-primary">Foobar Quest</a>
            
      </div>

    </div>
<% include ../partials/footer.ejs %>
