<% include ../partials/header.ejs %>


<div class="container">
	<div class="jumbotron">
		<form method="post" class="row">
			<div class="list-group col-md-4">
				<div class="">
				<button type="submit" class="list-group-item" value="binary">TWO-DEMENSIONAL WORLD (2BIT)</button>
				</div>
				<div class="">
				<button type="submit" class="list-group-item" value="quantumn">Quantumn Entanglement Universe</button>
				</div>
			</div>
		</form>
	</div>	
</div>

<% include ../partials/footer.ejs %>